// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#home {
  padding: 100px;
  margin-top: 20px;
  #cards {
    height: 350px;
  }
}