/vendor
/.idea
/storage/laravel-backups/
/storage/debugbar/
.env
.env.testing
.DS_Store
_ide_helper.php
docker/data
docker/logs/*
docker/workspace/keys/id_rsa*
docker/_guides
tests/_envs/*
tests/_data/*
tests/_output/*
tests/_support/_generated
tests/screenshots
npm-debug.log
node_modules
bower_components
.ant-targets-build.xml
!**/*/.gitkeep
